<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>注册</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <form action="##">
            <input type="text" name="username" id="txtUserName">
            <input type="password" name="password" id="TextBox2">
            <input type="button" onclick="register()"  value="注册"/>
        </form>
    </div>

</div>
<script type="text/javascript">
    function register() {
        var username = $("#txtUserName").val();
        var password = $("#TextBox2").val();
        const data ={
            username : username,
            password : password
        };
        console.log(typeof (data));
        $.ajax({
            url : "http://localhost:8080/user/add",
            type : "post",
//            dataType : "json",
//            contentType: "application/json;charset=utf-8",
            data : data,
            success : function (res) {
                console.log(res);
            },
            error : function (res) {
                console.log(res);
                alert("error");
            }
        });
    }
</script>

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>